<a href="https://colab.research.google.com/github/Sejong-Kaggle-Challengers/jeongmin/blob/main/KCB_%EA%B8%88%EC%9C%B5%EC%8A%A4%ED%83%80%EC%9D%BC_%EC%8B%9C%EA%B0%81%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### KCB(올크레딧) - 신용평가사
다양한 금융사로부터 여신거래 기록, 채무 정보, 연체정보 등  다양한 고객 금융 정보를 받아 전국민 85.4%인 4,400만 경제활동 인구의
경제 활동 데이터를 보유하고 있으며, 이를 통해 개인 신용 등급 책정 및 솔루션/컨설팅 서비스를 제공
<br><br>
대회 목적 :
1. KCB 전국민 금융 데이터의 새로운 인사이트 발굴
2. 활용도 높은 결과물로 금융친화적 콘텐츠 발전에 기여
<br><br>
credit_card_data.csv : 전국민 카드 및 대출 이용통계 데이터
연령대/거주지/성별 구분에 따른 카드 및 대출 이용통계 데이터로, 구분 값 별 카드이용금액 비교, 대출금액 및 대출 특이사항 비교 등이 가능하다.

In [1]:
!unzip data08.zip

Archive:  data08.zip
  inflating: KCB 대회 약관.pdf
  inflating: credit_card_data.csv
  inflating: jeju_financial_life_data.csv

In [11]:
!pip install eli5

Collecting eli5
  Downloading https://files.pythonhosted.org/packages/d1/54/04cab6e1c0ae535bec93f795d8403fdf6caf66fa5a6512263202dbb14ea6/eli5-0.11.0-py2.py3-none-any.whl (106kB)
     |████████████████████████████████| 112kB 5.4MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from eli5) (1.4.1)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.6/dist-packages (from eli5) (0.8.7)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from eli5) (2.11.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from eli5) (1.15.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from eli5) (0.10.1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from eli5) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.6/dist-packages (from eli5) (0.22.2.post1)
Requirement already satisfied: attrs>16.0.0 in /usr/local/lib/python3.6/dist-packages (from eli5) (20.3.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->eli5) (1.1.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20->eli5) (1.0.0)
Installing collected packages: eli5
Successfully installed eli5-0.11.0

In [13]:
!pip install shap

Collecting shap
  Downloading https://files.pythonhosted.org/packages/44/20/54381999efe3000f70a7f68af79ba857cfa3f82278ab0e02e6ba1c06b002/shap-0.38.1.tar.gz (352kB)
     |████████████████████████████████| 358kB 5.7MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from shap) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from shap) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from shap) (0.22.2.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from shap) (1.1.5)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.6/dist-packages (from shap) (4.41.1)
Collecting slicer==0.0.7
  Downloading https://files.pythonhosted.org/packages/78/c2/b3f55dfdb8af9812fdb9baf70cacf3b9e82e505b2bd4324d588888b81202/slicer-0.0.7-py3-none-any.whl
Requirement already satisfied: numba in /usr/local/lib/python3.6/dist-packages (from shap) (0.48.0)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.6/dist-packages (from shap) (1.3.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->shap) (1.0.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->shap) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->shap) (2018.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from numba->shap) (51.3.3)
Requirement already satisfied: llvmlite<0.32.0,>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba->shap) (0.31.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->shap) (1.15.0)
Building wheels for collected packages: shap
  Building wheel for shap (setup.py) ... done
  Created wheel for shap: filename=shap-0.38.1-cp36-cp36m-linux_x86_64.whl size=489404 sha256=be0e193532db602e1eb7842f70e2a1f6312c4d770b32bf4aca4d39790337cc25
  Stored in directory: /root/.cache/pip/wheels/a8/fb/e4/88012be41842b9be62ae18d82d1b1e880daf8539d1fef1fa00
Successfully built shap
Installing collected packages: slicer, shap
Successfully installed shap-0.38.1 slicer-0.0.7

In [37]:
import pandas as pd #분석
import matplotlib.pyplot as plt #시각화
import seaborn as sns #시각화
import numpy as np#분석

#경고메세지 무시
import warnings
warnings.filterwarnings('ignore')

#%matplotlib inline --> Rich output 를 바로 볼 수 있도록 (colab 에서는 굳이 쓰지 않아도 되는 것 같다)
color = sns.color_palette() #팔레트

#모델
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor

#Permutation Importance를 통해 변수의 중요도를 알아볼 수 있다.
import eli5
from eli5.sklearn import PermutationImportance

#Shap Value는 실제값과 예측치의 차이를 설명하는 것
import shap

In [38]:
plt.rcParams["figure.facecolor"] = 'w' # background color = white
plt.rcParams["font.family"] = 'NanumBarunGothic' #글꼴 설정 = 나눔고딕
plt.rcParams['axes.unicode_minus'] = False #그래프에서 마이너스 기호가 깨지지 않고 표시되도록

In [49]:
train = pd.read_csv("credit_card_data.csv")
train.shape

(3888, 26)

In [40]:
train.head()

  pop_cd  year  ...  credit_card_payment  credit_card_installments_payment
0   L011  2016  ...                    0                                 0
1   L011  2016  ...                 4000                              1000
2   L011  2016  ...                 3000                              1000
3   L011  2016  ...                 4000                              1000
4   L011  2016  ...                 3000                              1000

[5 rows x 26 columns]

Nan으로 표현된 부분
- 지역별 통계 : city가 값이 있는 경우는 sex가 Nan --> sex = 전체
- 성별 통계 : sex가 값이 있는 경우는 city가 Nan --> city = 전국

In [50]:
#city와 sex에서 Nan값
train.isnull().sum()

pop_cd                                 0
year                                   0
month                                  0
avg_score                              0
avg_rat                                0
city                                 432
sex                                 3456
ages                                   0
population                             0
num_opencard                           0
num_usecard                            0
monthly_card_spend                     0
monthly_lc                             0
monthly_loan                           0
monthly_bk_loan                        0
monthly_cd_loan                        0
monthly_installments_loan              0
monthly_insurance_loan                 0
monthly_sbk_loan                       0
loan_commitment                        0
inst_rep_loanb                         0
ls_rep_loanb                           0
credit_loan                            0
mortgage_loan                          0
credit_card_payment                    0
credit_card_installments_payment       0
dtype: int64

In [51]:
train['city'] = train['city'].fillna('전국')
train['sex'] = train['sex'].fillna('전체')

- 나이별 통계 --> 연산의 용이성을 위해 숫자로 변환
- 연도, 월 데이터는 python의 datatime 포맷으로 변환하여 새로운 열 year_month로 변환

In [52]:
train['ages'][0][:-1]

'10'

In [54]:
train['ages'] = train['ages'].apply(lambda x:int(x[:-1])).astype(float)
train['year_month'] = pd.to_datetime((train.year*100+train.month).apply(str), format = '%Y%m')
train.drop(['year','month'], axis=1, inplace=True) #원래 year, month 행 drop
#year_month 행을 이전의 year과 month 자리인 행 2번째로 자리를 변경해 train을 완성한다.
train = train[[train.columns[0], 'year_month'] + list(train.columns[1:-1])]

In [55]:
train.head()

  pop_cd year_month  ...  credit_card_payment  credit_card_installments_payment
0   L011 2016-01-01  ...                    0                                 0
1   L011 2016-02-01  ...                 4000                              1000
2   L011 2016-03-01  ...                 3000                              1000
3   L011 2016-04-01  ...                 4000                              1000
4   L011 2016-05-01  ...                 3000                              1000

[5 rows x 25 columns]